<!DOCTYPE HTML>
<div class="applications" ng-controller="providerCtrl">
    <h1> {{'TITLE_PROVIDERS' | translate}} </h1>
    <div>
        <ul class="nav nav-tabs">
        <li id="active"><a data-toggle="tab" href="" ng-click="showApplicationTab('provider_consult')"> {{'PROVIDERS_CONSULT' | translate}} </a></li>
        <li><a data-toggle="tab" class="tablinks" href="" ng-click="showApplicationTab('provider_details')"> {{'PROVIDER_DETAIL' | translate}} </a></li>
        <li><a data-toggle="tab" class="tablinks" href="" ng-click="showApplicationTab('provider_specific_detail')"> {{'SPECIFIC_DETAIL_PROVIDER' | translate}} </a></li>
    </ul>
    </div>

    <div id="tabsApplication">

        
    </div>

</div>