<nav class="navbar navbar-nearshore">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--a class="navbar-brand" href="#">App Demo</a-->
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <!--ul class="nav navbar-nav">
        <li><a href="#/saldos" translate="SALDOS"></a></li>
        <li><a href="#/logout" translate="LOGOUT"></a></li>
      </ul-->
      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <select class="btn btn-sm btn-primary" id="language" name="" ng-model="$ctrl.language" ng-change="$ctrl.changeLanguage()">
                <option value="es-MX" translate="LANGUAGE_SPANISH"></option>
                <option value="en-US" translate="LANGUAGE_ENGLISH"></option>
            </select>
          </div>
          <div id="userProfile" class="form-group dropdown" ng-show="{{$parent.getLoged}}">
            <button class="btn btn-default dropdown-toggle" type="button" id="userProfileName" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            </button>
            <ul class="dropdown-menu" aria-labelledby="userProfileName">
              <!--li><a href="#">{{'MY_ACCOUNT' | translate}}</a></li-->
              <li role="separator" class="divider"></li>
              <li><a ng-click="$ctrl.logout()" href="#">{{'LOGOUT' | translate}}</a></li>
            </ul>
          </div>
        </form>
      </ul>
    </div>
  </div>
</nav>
