<!DOCTYPE HTML>
<div class="citiUsers">
    <h1> {{'TITLE_CITI_USERS' | translate}} </h1>
    <div>
        <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="" ng-click="showCitiUsersTab('domains')"> {{'CITI_USERS_DOMAINS' | translate}} </a></li>
        <li><a data-toggle="tab" class="tablinks" href="" ng-click="showCitiUsersTab('users_per_domain')"> {{'CITI_USERS_PER_DOMAIN' | translate}} </a></li>
        <li><a data-toggle="tab" class="tablinks" href="" ng-click="showCitiUsersTab('specific_detail')"> {{'CITI_USERS_SPECIFIC_DETAIL' | translate}} </a></li>
    </ul>
    </div>

    <div id="tabsCitiUsers">
        <!-- TABS domains  -->
        <div id="domains" class="tabcontent default">
            <div class="row">
                <br/>
                <div class="col-xs-4">
                    <label ></label>
                    <div class="input-group">
                        <input type="text" ng-model="q" class="form-control" id="search" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                    <label for="search">{{'ITEMS_PER_PAGE'|translate}}:</label>
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSizeDCU">
                </div>
            </div>
            <br/>
            <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <!--th>  </th-->
                        <th> {{'NAME_DOMAIN_CITI_U'| translate}} </th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="x in domainsCU | filter:q | itemsPerPage: pageSizeDCU" total-items="totalDCU" current-page="currentPageDCU" pagination-id="domainPaginationDCU">
                        <!--td> </td-->
                        <td> <a href="" ng-model="id[x.ID]" id="{{x.ID}}"  ng-click="showCitiUsersIdDomain(x.ID,x.DESCRIPCION)">{{x.DESCRIPCION}}</a></td>
                    </tr>
                </tbody>
            </table>
            </div>
                <div class="text-center">
                <dir-pagination-controls pagination-id="domainPaginationDCU" boundary-links="true" on-page-change="pageChangeHandlerDCU(newPageNumber)"></dir-pagination-controls>
            </div>
        </div>

        <!-- TAB CATAusers_per_domainLOG2 -->
        <div id="users_per_domain" class="tabcontent">
            <!-- TABLe -->
            <div class="row">
                <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        <h4> {{nameDomainCU}} </h4>
                    </div>
                </div>
                <hr>
                <div class="row margin-left">
                    <div class="col-xs-3">
                        <button ng-show="showButtons" class="btn btn-primary btn-block" translate="NEW_CITI_EMP" data-toggle="modal" data-target="#NewCitiEmp" ng-click="prepareCombosEmpCiti()"></button>
                    </div>

                    <div class="col-xs-3">
                        <button ng-show="showButtons" ng-disabled="disableButton" class="btn btn-default btn-block" translate="UPDATE_CITI_EMP" data-toggle="modal" data-target="#UpdateCitiEmp" ng-click="updateCitiUsers('all')"></button>
                    </div>

                    <div class="col-xs-3">
                        <button ng-show="showButtons" ng-disabled="disableButton" class="btn btn-danger btn-block" translate="DELETE_CITI_EMP" ng-click="deleteCitiUsers($event, 'all')"></button>
                    </div>
                </div>
                <div class="row margin-left">
                    <div class="col-xs-4">
                        <label ></label>
                        <div class="input-group">
                            <input type="text" ng-model="q" class="form-control" id="search" placeholder="Search">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4"></div>
                    <div class="col-xs-3">
                        <label for="search">{{'ITEMS_PER_PAGE'|translate}}:</label>
                        <input type="number" min="1" max="100" class="form-control" ng-model="pageSizeCU">
                    </div>
                </div>
            </div>
            <br/>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th translate="NAME_CITI_U"></th>
                            <th translate="JOB_CITI_U"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="x in citiUsersList | filter:q | itemsPerPage: pageSizeCU" total-items="totalUserCiti" current-page="currentPageCU"  pagination-id="domainPaginationCU">
                            <td> <input type="radio" ng-value="x.Soe_Id" ng-model="idEmpCi" name="idEmpCi" ng-click="empCSelected(idEmpCi)"> </td>
                            <td> <a href="" ng-model="id[Soe_Id]" ng-click="showCitiUserDetails(x.Soe_Id)">{{x.nombre}} </a></td>
                            <td> <a href="" ng-model="id[Soe_Id]" ng-click="showCitiUserDetails(x.Soe_Id)">{{x.puesto}} </a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
                <div class="text-center">
                <dir-pagination-controls  pagination-id="domainPaginationCU" boundary-links="true" on-page-change="pageChangeHandlerCitiUsers(newPageNumber)"></dir-pagination-controls>
            </div>
        </div>

        <!-- TAB CATAspecific_detailLOG3 -->
        <div id="specific_detail" class="tabcontent">
            <div class="row page-header">
                <div class="col-xs-offset-3 col-xs-3">
                    <button ng-show="showButtons" class="btn btn-default btn-block" translate="UPDATE_CITI_EMP" data-toggle="modal" data-target="#UpdateCitiEmp" ng-click="updateCitiUsers('details')"></button>
                </div>

                <div class="col-xs-3">
                    <button ng-show="showButtons" class="btn btn-danger btn-block" translate="DELETE_CITI_EMP" ng-click="deleteCitiUsers($event,'details')"></button>
                </div>
            </div>
            <!-- TABLe -->
            <div class="row">
                <br/>
                <div class="margin-left margin-right">
                    <div class="row">
                        <label class="control-label col-md-2" translate="DOMAIN_CITI_U"></label>
                        <div class="col-md-4"> <p> {{citiUData.Dominio}} </p></div>
                    </div> <br>
                    <div class="row">
                        <label class="control-label col-md-2"> SOE-ID </label>
                        <div class="col-md-4"> <p> {{citiUData.Soe_Id}} </p></div>
                        <label class="control-label col-md-2" translate="NAME_CITI_U"> </label>
                        <div class="col-md-2"><p> {{citiUData.nombre}}</p> </div>
                    </div> <br>
                    <div class="row">
                        <label class="control-label col-md-2" translate="JOB_CITI_U"></label>
                        <div class="col-md-4"> <p>{{citiUData.puesto}}</p> </div>
                    </div> <br>
                    <div class="row">
                        <label class="control-label col-md-2" translate="COUNTRY_CITI_U"></label>
                        <div class="col-md-4"> <p>{{citiUData.Pais}}</p> </div>
                        <label class="control-label col-md-2" translate="CITY_CITI_U"></label>
                        <div class="col-md-4"> <p>{{citiUData.Ciudad}}</p> </div>
                    </div> <br>
                    <div class="row">
                        <label class="control-label col-md-2" translate="EXT_OFIC_CITI_U"></label>
                        <div class="col-md-4"> <p>{{citiUData.Ext}}</p> </div>
                        <label class="control-label col-md-2" translate="TEL_CEL_CITI_U"></label>
                        <div class="col-md-4"> <p>{{citiUData.Telefono}}</p> </div>
                    </div> <br>
                    <div class="row">
                        <label class="control-label col-md-2" translate="TEL_OTRO_CITI_U"></label>
                        <div class="col-md-4"> <p>{{citiUData.Movil}}</p> </div>
                        <label class="control-label col-md-2" translate="EMAIL_CITI_U"></label> 
                        <div class="col-md-4"> <p>{{citiUData.Email}}</p> </div>
                    </div>
                    <div class="row">
                        <label class="control-label col-md-2" translate="REPORT_TO_CITI_U"></label>
                        <div class="col-md-4"> <p>{{citiUData.reportaA}}</p> </div>
                        <label class="control-label col-md-2" translate="COMMENT_CITI_U"></label> 
                        <div class="col-md-4"> <p>{{citiUData.comentarios}}</p> </div>
                    </div>
                    <hr>
                    <div class="table-aplications">
                        <div class="row margin-right">
                            <br/>
                            <div class="col-xs-4">
                                <div class="input-group">
                                    <input type="text" ng-model="r" class="form-control" id="search" placeholder="Search">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-offset-4 col-xs-4">
                                <label for="search">{{'ITEMS_PER_PAGE'|translate}}:</label>
                                <input type="number" min="1" max="100" class="form-control" ng-model="pageSizeAEC">
                            </div>
                        </div>
                        <br/>
                        <div class="table-responsive margin-right">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th> {{'APLICATION_DEVELOPED_EMP_PROV' | translate}} </th>
                                        <th> {{'DESCRIPTION_APP_EMP_PROV' | translate}} </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="x in appsEmp | filter:r | itemsPerPage: pageSizeAEC" total-items="totalAppsEmpCiti" current-page="currentPageAEC" pagination-id="AppsEmpCiti">
                                        <th> <p> {{x.idAplicacion}} </p> </th>
                                        <td> <p> {{x.descripcion}} </p> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center">
                            <dir-pagination-controls pagination-id="AppsEmpCiti" boundary-links="true" on-page-change="pageChangeHandlerAppsEmpCiti(newPageNumber)"></dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Modal New Emp Citi -->
<div class="modal fade" id="NewCitiEmp" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" translate="NEW_CITI_EMP_TITLE"></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="AddEmpC" ng-submit="addNewEmpCiti()" novalidate>
                    <div class="form-group">
                        <label class="control-label required col-md-2" translate="DOMAIN_CITI_U"></label>
                        <div class="col-sm-4">
                            <select name="domainCiti" id="domainCiti" ng-model="domainCiti" class="form-control" ng-change="" required
                                ng-options="x.ID as x.DESCRIPCION for x in domainsCU">
                            </select>
                            <p translate="REQUIRE_DOMAIN_EMP_CITI" ng-show="AddEmpC.domainCiti.$error.required" class="help-block"></p>
                        </div>
                        <label class="control-label required col-md-2"> SOE-ID </label>
                        <div class="col-sm-4">
                            <input type="text" name="soeidEmpC" id="soeidEmpC" ng-model="soeidEmpC" class="form-control" required>
                            <p translate="REQUIRE_SOEID_EMP_CITI" ng-show="AddEmpC.soeidEmpC.$dirty && AddEmpC.soeidEmpC.$error.required" class="help-block"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label required col-md-2" translate="FIRST_NAME_CITI_U"> </label>
                        <div class="col-sm-4">
                            <input type="text" name="firstNameCU" id="firstNameCU" ng-model="firstNameCU" class="form-control" required>
                            <p translate="REQUIRE_F_NAME_EMP_CITI" ng-show="AddEmpC.firstNameCU.$dirty && AddEmpC.firstNameCU.$error.required" class="help-block"></p>
                        </div>
                        <label class="control-label col-md-2" translate="SECOND_NAME_CITI_U"> </label>
                        <div class="col-sm-4">
                            <input type="text" name="secondNameCU" id="secondNameCU" ng-model="secondNameCU" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label required col-md-2" translate="FIRST_SURNAME_CITI_U"> </label>
                        <div class="col-sm-4">
                            <input type="text" name="firstSurnameCU" id="firstSurnameCU" ng-model="firstSurnameCU" class="form-control" required>
                            <p translate="REQUIRE_F_SURNAME_EMP_CITI" ng-show="AddEmpC.firstSurnameCU.$dirty && AddEmpC.firstSurnameCU.$error.required" class="help-block"></p>
                        </div>
                        <label class="control-label col-md-2" translate="SECOND_SURNAME_CITI_U"> </label>
                        <div class="col-sm-4">
                            <input type="text" name="secondSurnameCU" id="secondSurnameCU" ng-model="secondSurnameCU" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label required col-md-2" translate="JOB_CITI_U"></label>
                        <div class="col-sm-4">
                            <select name="jobCitiU" id="jobCitiU" ng-model="jobCitiU" class="form-control" ng-change="" required
                                ng-options="x.ID as x.DESCRIPCION for x in jobsCU">
                            </select>
                            <p translate="REQUIRE_JOB_EMP_CITI_U" ng-show="AddEmpC.jobCitiU.$error.required" class="help-block"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="" translate="COUNTRY_EMP_CITI_U"> </label>
                        <div class="col-sm-4">
                            <select name="countryEmpC" id="countryEmpC" ng-model="countryEmpC" class="form-control"  ng-change="getCities(countryEmpC)"
                                ng-options="x.ID as x.DESCRIPCION for x in catCountries">
                            </select>
                        </div>
						<label class="control-label required col-sm-2" translate="CITY_EMP_CITI_U">  </label>
                        <div class="col-sm-4">
                            <select name="citiesEmpC" id="citiesEmpC" ng-model="citiesEmpC" class="form-control" ng-change="" required
                                ng-options="c.Id as c.Descripcion for c in catCities" required>
                            </select>
                            <p translate="REQUIRE_CITY_EMP_CITI" ng-show="AddEmpC.citiesEmpC.$error.required" class="help-block"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for=""> Ext. </label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" id="extCelEmpC" ng-model="extCelEmpC" name="extCelEmpC" ng-maxlength="10" min="1">
                            <p translate="REQUIRE_EXT_EMP_CITI" ng-show="!AddEmpC.extCelEmpC.$valid" class="help-block"></p>
                        </div>
                        <label class="control-label col-sm-2" for="" translate="TEL_CEL_CITI_U"> </label>
                        <div class="col-sm-4">
                            <input type="number" name="celEmpC" class="form-control" id="celEmpC" ng-model="celEmpC" ng-maxlength="10" min="1">
                            <p translate="REQUIRE_CELULAR_NUMBER_EMP_CITI" ng-show="!AddEmpC.celEmpC.$valid" class="help-block"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" translate="TEL_OTHER_EMP_CITI">  </label>
                        <div class="col-sm-4">
                            <input type="number" name="telOEmpC" class="form-control" id="telOEmpC" ng-model="telOEmpC" ng-maxlength="10" min="1">
                            <p translate="REQUIRE_OTHER_EMP_CITI" ng-show="!AddEmpC.telOEmpC.$valid" class="help-block"></p>
                        </div>
                        <label class="control-label col-sm-2" for="" translate="EMAIL_EMP_CITI"> </label>
                        <div class="col-sm-4">
                            <input type="email" name="emailEmpC" class="form-control" id="emailEmpC" ng-model="emailEmpC" ng-maxlength="60">
                            <p translate="REQUIRE_EMAIL_EMP_CITI" ng-show="AddEmpC.emailEmpC.$error.email" class="help-block"></p>
                            <p translate="REQUIRE_EMAIL_LONG_EMP_CITI" ng-show="AddEmpC.emailEmpC.$error.valid" class="help-block"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="" translate="REPORTS_TO_EMP_CITI"> </label>
                        <div class="col-sm-4">
                            <select name="reports2EmpC" id="reports2EmpC" class="form-control" ng-model="reports2EmpC" ng-change=""
                                ng-options="e.Soe_Id as e.nombre for e in empsCiti">
                                <option value=""></option>
                            </select>
                        </div>
                        <label class="control-label col-sm-2" for="" translate="COMMENTS_EMP_CITI"> </label>
                        <div class="col-sm-4">
                            <input type="text" name="commentEmpC" class="form-control" id="commentEmpC" ng-model="commentEmpC">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-3">
                            <button ng-show="showButtons" type="submit" class="btn btn-primary btn-block" translate="SAVE" ng-disabled="!AddEmpC.$valid"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal Update Emp Citi -->
<div class="modal fade" id="UpdateCitiEmp" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" translate="UPDATE_CITI_EMP_TITLE"></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="UpdEmpC" ng-submit="updateEmpCiti()" novalidate>
                    <div class="form-group">
                        <label class="control-label required col-md-2" translate="DOMAIN_CITI_U"></label>
                        <div class="col-sm-4">
                            <select name="UdomainCiti" id="UdomainCiti" ng-model="UdomainCiti" class="form-control" ng-change="" required
                                ng-options="x.ID as x.DESCRIPCION for x in domainsCU">
                            </select>
                            <p translate="REQUIRE_DOMAIN_EMP_CITI" ng-show="UpdEmpC.UdomainCiti.$error.required" class="help-block"></p>
                        </div>
                        <label class="control-label required col-md-2"> SOE-ID </label>
                        <div class="col-sm-4">
                            <input type="text" name="UsoeidEmpC" id="UsoeidEmpC" ng-model="UsoeidEmpC" class="form-control" required>
                            <p translate="REQUIRE_SOEID_EMP_CITI" ng-show="UpdEmpC.UsoeidEmpC.$dirty && UpdEmpC.UsoeidEmpC.$error.required" class="help-block"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label required col-md-2" translate="FIRST_NAME_CITI_U"> </label>
                        <div class="col-sm-4">
                            <input type="text" name="UfirstNameCU" id="UfirstNameCU" ng-model="UfirstNameCU" class="form-control" required>
                            <p translate="REQUIRE_F_NAME_EMP_CITI" ng-show="UpdEmpC.UfirstNameCU.$dirty && UpdEmpC.UfirstNameCU.$error.required" class="help-block"></p>
                        </div>
                        <label class="control-label col-md-2" translate="SECOND_NAME_CITI_U"> </label>
                        <div class="col-sm-4">
                            <input type="text" name="UsecondNameCU" id="UsecondNameCU" ng-model="UsecondNameCU" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label required col-md-2" translate="FIRST_SURNAME_CITI_U"> </label>
                        <div class="col-sm-4">
                            <input type="text" name="UfirstSurnameCU" id="UfirstSurnameCU" ng-model="UfirstSurnameCU" class="form-control" required>
                            <p translate="REQUIRE_F_SURNAME_EMP_CITI" ng-show="UpdEmpC.UfirstSurnameCU.$dirty && UpdEmpC.UfirstSurnameCU.$error.required" class="help-block"></p>
                        </div>
                        <label class="control-label col-md-2" translate="SECOND_SURNAME_CITI_U"> </label>
                        <div class="col-sm-4">
                            <input type="text" name="UsecondSurnameCU" id="UsecondSurnameCU" ng-model="UsecondSurnameCU" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label required col-md-2" translate="JOB_CITI_U"></label>
                        <div class="col-sm-4">
                            <select name="UjobCitiU" id="UjobCitiU" ng-model="UjobCitiU" class="form-control" ng-change="" required
                                ng-options="x.ID as x.DESCRIPCION for x in jobsCU">
                            </select>
                            <p translate="REQUIRE_JOB_EMP_CITI_U" ng-show="UpdEmpC.UjobCitiU.$error.required" class="help-block"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="" translate="COUNTRY_EMP_CITI_U"> </label>
                        <div class="col-sm-4">
                            <select name="UcountryEmpC" id="UcountryEmpC" ng-model="UcountryEmpC" class="form-control"  ng-change="getCities(countryEmpC)"
                                ng-options="x.ID as x.DESCRIPCION for x in catCountries">
                            </select>
                        </div>
						<label class="control-label required col-sm-2" translate="CITY_EMP_CITI_U">  </label>
                        <div class="col-sm-4">
                            <select name="UcitiesEmpC" id="UcitiesEmpC" ng-model="UcitiesEmpC" class="form-control" ng-change="" required
                                ng-options="c.Id as c.Descripcion for c in catCities" required>
                            </select>
                            <p translate="REQUIRE_CITY_EMP_CITI" ng-show="UpdEmpC.UcitiesEmpC.$error.required" class="help-block"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for=""> Ext. </label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" id="UextCelEmpC" ng-model="UextCelEmpC" name="UextCelEmpC" ng-maxlength="10" min="1">
                            <p translate="REQUIRE_EXT_EMP_CITI" ng-show="!UpdEmpC.UextCelEmpC.$valid" class="help-block"></p>
                        </div>
                        <label class="control-label col-sm-2" for="" translate="TEL_CEL_CITI_U"> </label>
                        <div class="col-sm-4">
                            <input type="number" name="UcelEmpC" class="form-control" id="UcelEmpC" ng-model="UcelEmpC" ng-maxlength="10" min="1">
                            <p translate="REQUIRE_CELULAR_NUMBER_EMP_CITI" ng-show="!UpdEmpC.UcelEmpC.$valid" class="help-block"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" translate="TEL_OTHER_EMP_CITI">  </label>
                        <div class="col-sm-4">
                            <input type="number" name="UtelOEmpC" class="form-control" id="UtelOEmpC" ng-model="UtelOEmpC" ng-maxlength="10" min="1">
                            <p translate="REQUIRE_OTHER_EMP_CITI" ng-show="!UpdEmpC.UtelOEmpC.$valid" class="help-block"></p>
                        </div>
                        <label class="control-label col-sm-2" for="" translate="EMAIL_EMP_CITI"> </label>
                        <div class="col-sm-4">
                            <input type="email" name="UemailEmpC" class="form-control" id="UemailEmpC" ng-model="UemailEmpC" ng-maxlength="60">
                            <p translate="REQUIRE_EMAIL_EMP_CITI" ng-show="UpdEmpC.UemailEmpC.$error.email" class="help-block"></p>
                            <p translate="REQUIRE_EMAIL_LONG_EMP_CITI" ng-show="UpdEmpC.UemailEmpC.$error.valid" class="help-block"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="" translate="REPORTS_TO_EMP_CITI"> </label>
                        <div class="col-sm-4">
                            <select name="Ureports2EmpC" id="Ureports2EmpC" class="form-control" ng-model="Ureports2EmpC" ng-change=""
                                ng-options="e.Soe_Id as e.nombre for e in empsCiti">
                                <option value=""></option>
                            </select>
                        </div>
                        <label class="control-label col-sm-2" for="" translate="COMMENTS_EMP_CITI"> </label>
                        <div class="col-sm-4">
                            <input type="text" name="UcommentEmpC" class="form-control" id="UcommentEmpC" ng-model="UcommentEmpC">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-3">
                            <button ng-show="showButtons" type="submit" class="btn btn-primary btn-block" translate="SAVE" ng-disabled="!UpdEmpC.$valid"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</div>