<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
</head>

<body>
    <div class="col-md-4 login">
        <section class="login-form">
            <form role="login" ng-submit="validateLogin()" name="loginForm" novalidate>
                <H3 translate="TITLE_LOGIN_NEARSHORE"></H3>
                <p translate="ErrorUserRequired"  ng-show="loginForm.user.$dirty && loginForm.user.$error.required" class="help-block"></p>
                <br>
                <div class="form-group form-group-lg">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>

                    <input type="text" name="user"
                           placeholder="{{'USER' | translate}}"
                           autofocus=""
                           class="form-control"
                           ng-model="user"
                           required>
                    </div>

                </div>

                <p translate="ErrorPasswordRequired" ng-show="loginForm.password.$dirty && loginForm.password.$error.required" class="help-block"></p>
                <p translate="ErrorLengthPassword" ng-show="loginForm.password.$error.minlength" class="help-block"></p>
                <br>
                <div class=" input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password"
                           name="password"
                           class="form-control input-lg"
                           ng-model="password"
                           placeholder="{{'PASSWORD' | translate}}"
                           ng-minlength="4" required>
                </div>


                <br><button class="btn btn-lg btn-primary" translate="LOGIN" ng-disabled="!loginForm.$valid"></button>



            </form>

        </section>
    </div>
</body>

</html>