<!DOCTYPE HTML>
<div class="applications" ng-controller="applicationCtrl">
    <h1> {{'TITLE_APPLICATION' | translate}} </h1>
    <div>
        <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="" ng-click="showApplicationTab('domains')"> {{'DOMAINS' | translate}} </a></li>
        <li><a data-toggle="tab" class="tablinks" href="" ng-click="showApplicationTab('applications_domain')"> {{'APPLICATIONS_PER_DOMAIN' | translate}} </a></li>
        <li><a data-toggle="tab" class="tablinks" href="" ng-click="showApplicationTab('details_application')"> {{'APPLICATION_DETAILS_PER_DOMAIN' | translate}} </a></li>
        <li><a data-toggle="tab" class="tablinks" href="" ng-click="showApplicationTab('application_consult')"> {{'APPLICATION_CONSULT' | translate}} </a></li>
    </ul>
    </div>
    
    <div id="tabsApplication">

        
    </div>

</div>