body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F2F2F2;
}

body .bodyMain{
    background-color: #F2F2F2;
    margin-left: -12px;
}

.loadingEnable{
    //background-image: url('./utils/loading.png');
    background-color: #34DD23;
    display: block;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

.loadingDisable{
    display: none;
}