<!DOCTYPE HTML>
<div class="users" >
    <h1> {{'TITLE_USERS' | translate}} </h1>
    <div>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="" ng-click="showUserTab(event,'administration')"> {{'DOMAINS_USERS' | translate}} </a></li>
        </ul>
    </div>

    <div id="tabsUsers">
        <!-- TABS provider_consult  -->
        <div id="administration" class="tabcontent default">
            <div class="row">
                <div class="col-xs-3">
                    <button class="btn btn-primary btn-block" translate="NEW_USER" data-toggle="modal" data-target="#NewUser" ></button>
                </div>

                <div class="col-xs-3">
                    <button class="btn btn-default btn-block" translate="MODIFY" ng-disabled="activeModifyButton" ng-click="showEditModal()"></button>
                </div>
            </div>
            <div class="alert alert-success alert-dismissible" ng-show="showSuccessAdd">
                <a href="" class="close" ng-click="hideSuccessAddAlert()" aria-label="close">&times;</a>
                <p translate="SuccessAddingUser"></p>
            </div>
            <div class="alert alert-success alert-dismissible" ng-show="showSuccessEdit">
                <a href="" class="close" ng-click="hideSuccessEditAlert()" aria-label="close">&times;</a>
                    <p translate="SuccessEditUser"></p>
                </a>
            </div>
            <div class="alert alert-success alert-dismissible" ng-show="showSuccessDelete">
                <a href="" class="close" ng-click="hideSuccessDeleteAlert()" aria-label="close">&times;</a>
                <p translate="SuccesDeleteUser"></p>
            </div>
            <div class="alert alert-warning alert dismissible" ng-show="showErrorAdd">
                <a href="" class="close" ng-click="hideErrorAddAlert()" aria-label="close">&times;</a>
                <p translate="ErrorAddingUser"></p>
            </div>
            <div class="alert alert-warning alert dismissible" ng-show="showErrorEdit">
                <a href="" class="close" ng-click="hideErrorEditAlert()" aria-label="close">&times;</a>
                <p translate="ErrorEditUser"></p>
            </div>
            <div class="alert alert-warning alert dismissible" ng-show="showErrorDelete">
                <a href="" class="close" ng-click="hideErrorDeleteAlert()" aria-label="close">&times;</a>
                <p translate="ErrorDeleteUser"></p>
            </div>
            <div class="row">
                <br/>
                <div class="col-xs-4">
                    <label ></label>
                    <div class="input-group">
                        <input type="text" ng-model="q" class="form-control" id="search" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                    <label for="search">{{'ITEMS_PER_PAGE'|translate}}:</label>
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize" placeholder="items per page">
                </div>
            </div>
            <br/>
            <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th> </th>
                        <th ng-click="OrderBy('nombre')"> {{'NAME_TABLE' | translate}} </th>
                        <th ng-click="OrderBy('correo')"> E-mail </th>
                        <th ng-click="OrderBy('perfil')">{{'PROFILE_TABLE' | translate}}</th>
                        <th ng-click="OrderBy('estatus')">{{'STATUS_TABLE' | translate}}</th>
                        <th ng-click="OrderBy('proveedor')">{{'VENDOR_TABLE' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="x in usersList | filter:q | itemsPerPage: pageSize" total-items="totalUsers" current-page="currentPage">
                        <td><input type="radio" ng-model="idUser" value="{{x.id}}" name="idUser" ng-click='checkUser(idUser)'></td>
                        <td>{{x.nombre}}</td>
                        <td>{{x.correo}}</td>
                        <td>{{x.perfil}}</td>
                        <td>{{x.estatus}}</td>
                        <td>{{x.proveedor}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
            <div class="text-center">
            <dir-pagination-controls boundary-links="true" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
        </div>
            <div class="modal fade" id="NewUser" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" translate="NEW_USER_TITLE"></h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" name="AddUser" ng-submit="addNewUser()" novalidate>
                            <div class="form-group required">
                                <label class="control-label col-sm-3" for="firstname" translate="NAME"></label>
                                <div class="col-sm-8">
                                    <input type="text" name="firstname" class="form-control" id="firstname" ng-model="firstname" placeholder="{{'ENTER_A_NAME'|translate}}"  ng-trim="true" required>
                                    <p translate="ErrorFirstNameRequired" ng-show="AddUser.firstname.$dirty && AddUser.firstname.$error.required" class="help-block"></p>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="secondName" translate="SECOND_NAME"></label>
                                <div class="col-sm-8">
                                    <input type="text" name="secondName" class="form-control" id="secondName" ng-model="secondName" placeholder="{{'ENTER_SECOND_NAME'| translate}}" ng-trim="true">
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="control-label col-sm-3" for="lastName" translate="LAST_NAME"></label>
                                <div class="col-sm-8">
                                    <input type="text" name="lastName" class="form-control" id="lastName" ng-model="lastName" placeholder="{{'ENTER_LAST_NAME'| translate}}" required ng-trim="true">
                                    <p translate="ErrorLastNameRequired" ng-show="AddUser.lastName.$dirty && AddUser.lastName.$error.required" class="help-block"></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="mothersLastName" translate="MOTHERS_LAST_NAME"></label>
                                <div class="col-sm-8">
                                    <input type="text" name="mothersLastName" class="form-control" id="mothersLastName" ng-model="mothersLastName" placeholder="{{'ENTER_MOTHERS_LAST_NAME'|translate}}" ng-trim="true">
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="control-label col-sm-3" for="email" translate="EMAIL"></label>
                                <div class="col-sm-8">
                                    <input type="email" name="email" class="form-control" id="email" ng-model="email" placeholder="{{'ENTER_AN_EMAIL'| translate}}" ng-trim="true" required>
                                    <p translate="ErrorEmailFormat" ng-show="AddUser.email.$error.email" class="help-block"></p>
                                    <p translate="ErrorEmailRequired" ng-show="AddUser.email.$dirty && AddUser.email.$error.required" class="help-block"></p>
                                </div>

                                <span></span>
                            </div>
                            <div class="form-group required">
                                <label class="control-label col-sm-3" for="profile" translate="PROFILE"></label>
                                <div class="col-sm-8">
                                    <select name="profile" class="form-control" ng-model="profile" id="profile" ng-change="profileEval(profile)" required>
                                        <option ng-repeat="x in profiles"  value="{{x.value}}">{{x.profile}}</option>
                                    </select>
                                    <p translate="ErrorProfileRequiered" ng-show="AddUser.profile.$dirty && AddUser.profile.$error.required" class="help-block"></p>
                                </div>
                            </div>
                            <div class="form-group required" ng-show="showVendors">
                                <label class="control-label col-sm-3" for="vendor" translate="VENDOR"></label>
                                <div class="col-sm-8">
                                    <select name="vendor" class="form-control" ng-model="vendor" id="vendor">
                                        <option ng-repeat="x in vendors" value="{{x.value}}">{{x.vendor}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group required">
                                <label class="control-label col-sm-3" for="pwd" translate="PWD"></label>
                                <div class="col-sm-8">
                                    <input type="password" name="pwd" class="form-control" id="pwd" ng-model="pwd" placeholder="{{'ENTER_A_PASSWORD'| translate}}"  ng-minlength="8" ng-trim="true" required>
                                    <p translate="ErrorPWDRequired" ng-show="AddUser.pwd.$dirty && AddUser.pwd.$error.required" class="help-block"></p>
                                    <p translate="ErrorPWDTooShort" ng-show="AddUser.pwd.$error.minlength" class="help-block"></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default" translate="SAVE"></button>
                                    <button class="btn btn-default" ng-click="clearFields()" translate="ClearForm"></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
            <div class="modal fade" id="EditUser" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" translate="Edit_User_Title"></h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" name="EditUser" ng-submit="editUserProcess()" novalidate>
                                <div class="form-group required">
                                    <label class="control-label col-sm-3" for="firstNameEdit" translate="NAME"></label>
                                    <div class="col-sm-8">
                                        <input type="text" name="firstNameEdit" class="form-control" id="firstNameEdit" ng-model="firstNameEdit" placeholder="{{'ENTER_A_NAME'|translate}}"  ng-trim="true" required>
                                        <p translate="ErrorFirstNameRequired" ng-show="EditUser.firstNameEdit.$dirty && EditUser.firstNameEdit.$error.required" class="help-block"></p>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="secondNameEdit" translate="SECOND_NAME"></label>
                                    <div class="col-sm-8">
                                        <input type="text" name="secondNameEdt" class="form-control" id="secondNameEdit" ng-model="secondNameEdit" placeholder="{{'ENTER_SECOND_NAME'| translate}}" ng-trim="true">
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="control-label col-sm-3" for="lastNameEdit" translate="LAST_NAME"></label>
                                    <div class="col-sm-8">
                                        <input type="text" name="lastNameEdit" class="form-control" id="lastNameEdit" ng-model="lastNameEdit" placeholder="{{'ENTER_LAST_NAME'| translate}}" required ng-trim="true">
                                        <p translate="ErrorLastNameRequired" ng-show="EditUser.lastNameEdit.$dirty && EditUser.lastNameEdit.$error.required" class="help-block"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="mothersLastNameEdit" translate="MOTHERS_LAST_NAME"></label>
                                    <div class="col-sm-8">
                                        <input type="text" name="mothersLastNameEdit" class="form-control" id="mothersLastNameEdit" ng-model="mothersLastNameEdit" placeholder="{{'ENTER_MOTHERS_LAST_NAME'|translate}}" ng-trim="true">
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="control-label col-sm-3" for="emailEdit" translate="EMAIL"></label>
                                    <div class="col-sm-8">
                                        <input type="email" name="emailEdit" class="form-control" id="emailEdit" ng-model="emailEdit" placeholder="{{'ENTER_AN_EMAIL'| translate}}" ng-trim="true" required>
                                        <p translate="ErrorEmailFormat" ng-show="EditUser.emailEdit.$error.email" class="help-block"></p>
                                        <p translate="ErrorEmailRequired" ng-show="EditUser.emailEdit.$dirty && EditUser.emailEdit.$error.required" class="help-block"></p>
                                    </div>

                                    <span></span>
                                </div>
                                <div class="form-group required">
                                    <label class="control-label col-sm-3" for="profileEdit" translate="PROFILE"></label>
                                    <div class="col-sm-8">
                                        <select name="profileEdit" class="form-control" ng-model="profileEdit" id="profileEdit" ng-options="x.value as x.profile for x in profiles" required></select>
                                        <p translate="ErrorProfileRequiered" ng-show="EditUser.profileEdit.$dirty && EditUser.profileEdit.$error.required" class="help-block"></p>
                                    </div>
                                </div>
                                <div class="form-group required" ng-show="showVendorEdit">
                                    <label class="control-label col-sm-3" for="vendorEdit" translate="VENDOR"></label>
                                    <div class="col-sm-8">
                                        <select name="vendorEdit" class="form-control" ng-model="vendorEdit" id="vendorEdit" ng-options="x.value as x.vendor for x in vendors" ng-disabled="superUserEdit"></select>
                                    </div>
                                </div>

                                <div class="form-group required">
                                    <label class="control-label col-sm-3" for="pwdEdit" translate="PWD"></label>
                                    <div class="col-sm-8">
                                        <input type="password" name="pwdEdit" class="form-control" id="pwdEdit" ng-model="pwdEdit" placeholder="{{'ENTER_A_PASSWORD'| translate}}"  ng-minlength="8" ng-trim="true" required>
                                        <p translate="ErrorPWDRequired" ng-show="AddUser.pwdEdit.$dirty && AddUser.pwdEdit.$error.required" class="help-block"></p>
                                        <p translate="ErrorPWDTooShort" ng-show="AddUser.pwdEdit.$error.minlength" class="help-block"></p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-3" translate="Status"></label>
                                    <div class="col-sm-8">
                                        <input type="checkbox" ng-model="statusEdit" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default" translate="SAVEUPLOAD"></button>
                                    </div>
                                </div>
                            </form>
                            <button class="btn btn-danger" ng-click="deleteUser()" translate="DeleteUser"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>