<!DOCTYPE HTML>
<div class="catalogs" ng-controller="catalogCtrl">
    <h1> {{'TITLE_CATALOGS' | translate}} </h1>
    <div>
        <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="" ng-click="showCatalogTab(event,'catalog1')"> {{'CAT_CITI_EMPLOYEES' | translate}} </a></li>
        <li><a data-toggle="tab" class="tablinks" href="" ng-click="showCatalogTab(event,'catalog2')"> {{'CAT_VENDOR_EMPLOYEES' | translate}} </a></li>
        <li><a data-toggle="tab" class="tablinks" href="" ng-click="showCatalogTab(event,'catalog3')"> {{'CAT_VENDORS' | translate}} </a></li>
        <li><a data-toggle="tab" class="tablinks" href="" ng-click="showCatalogTab(event,'catalog4')"> {{'CAT_PLATFORMS' | translate}} </a></li>
        <li><a data-toggle="tab" class="tablinks" href="" ng-click="showCatalogTab(event,'catalog4')"> {{'CAT_JOBS_CITI' | translate}} </a></li>
        <li><a data-toggle="tab" class="tablinks" href="" ng-click="showCatalogTab(event,'catalog4')"> {{'CAT_DOMAINS' | translate}} </a></li>
        <li><a data-toggle="tab" class="tablinks" href="" ng-click="showCatalogTab(event,'catalog4')"> {{'CAT_JOBS_VENDOR' | translate}} </a></li>
        <li><a data-toggle="tab" class="tablinks" href="" ng-click="showCatalogTab(event,'catalog4')"> {{'CAT_PROFILES' | translate}} </a></li>
        <li><a data-toggle="tab" class="tablinks" href="" ng-click="showCatalogTab(event,'catalog4')"> {{'CAT_CITIES' | translate}} </a></li>
        <li><a data-toggle="tab" class="tablinks" href="" ng-click="showCatalogTab(event,'catalog4')"> {{'CAT_COUNTRIES' | translate}} </a></li>
    </ul>
    </div>

    <div id="tabsApplication">

        <!-- TABS CATALOG1  -->
        <div id="catalog1" class="tabcontent default">
            <table>
                <thead>
                    <tr>
                        <th> Nombre </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> catalog1 </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- TAB CATALOG2 -->
        <div id="catalog2" class="tabcontent">
            <h3>Menu 2</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>

        <!-- TAB CATALOG3 -->
        <div id="catalog3" class="tabcontent">
            <h3>Menu 1</h3>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>

        <!-- TAB CATALOG4 -->
        <div id="catalog4" class="tabcontent">
            <h3>Menu 3</h3>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
    </div>

</div>