<!DOCTYPE HTML>
<div class="catalogs">
    <h1> {{'TITLE_CATALOGS' | translate}} </h1>
    <div>
        <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="" ng-click="showCatalogTab('catalog1')"> {{'CAT_VENDORS' | translate}} </a></li>
        <li><a data-toggle="tab" class="tablinks" href="" ng-click="showCatalogTab('catalog2')"> {{'CAT_PLATFORMS' | translate}} </a></li>
        <li><a data-toggle="tab" class="tablinks" href="" ng-click="showCatalogTab('catalog3')"> {{'CAT_JOBS_CITI' | translate}} </a></li>
        <li><a data-toggle="tab" class="tablinks" href="" ng-click="showCatalogTab('catalog4')"> {{'CAT_DOMAINS' | translate}} </a></li>
        <li><a data-toggle="tab" class="tablinks" href="" ng-click="showCatalogTab('catalog5')">  {{'CAT_COUNTRIES' | translate}} </a></li>
        <li><a data-toggle="tab" class="tablinks" href="" ng-click="showCatalogTab('catalog6')">{{'CAT_CITIES' | translate}} </a></li>
    </ul>
    </div>

    <div id="tabsApplication">

        <!-- TABS CATALOG1  -->
        <div id="catalog1" class="tabcontent default">
            <div class="row">
                <div class="col-xs-3">
                    <button class="btn btn-primary btn-block" translate="NEW_VENDOR" data-toggle="modal" data-target="#NewVendor" ></button>
                </div>

                <div class="col-xs-3">
                    <button class="btn btn-default btn-block" translate="MODIFY" ng-disabled="activeModifyButton" ng-click="showEditModal()"></button>
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-danger btn-block" ng-click="deleteVendor($event)" ng-disabled="activeModifyButton" translate="DeleteVendor"></button>
                </div>
            </div>
            <div class="alert alert-success alert-dismissible" ng-show="showSuccessAdd">
                <a href="" class="close" ng-click="hideSuccessAddAlert()" aria-label="close">&times;</a>
                <p translate="SuccessAddingVendor"></p>
            </div>
            <div class="alert alert-warning alert dismissible" ng-show="showErrorAdd">
                <a href="" class="close" ng-click="hideErrorAddAlert()" aria-label="close">&times;</a>
                <p translate="ErrorAddingVendor"></p>
            </div>
            <div class="alert alert-success alert-dismissible" ng-show="showSuccessEdit">
                <a href="" class="close" ng-click="hideSuccessEditAlert()" aria-label="close">&times;</a>
                <p translate="SuccessEditVendor"></p>
                </a>
            </div>
            <div class="alert alert-warning alert dismissible" ng-show="showErrorEdit">
                <a href="" class="close" ng-click="hideErrorEditAlert()" aria-label="close">&times;</a>
                <p translate="ErrorEditVendor"></p>
            </div>
            <div class="alert alert-success alert-dismissible" ng-show="showSuccessDelete">
                <a href="" class="close" ng-click="hideSuccessDeleteAlert()" aria-label="close">&times;</a>
                <p translate="SuccesDeleteVendor"></p>
            </div>
            <div class="alert alert-warning alert dismissible" ng-show="showErrorDelete">
                <a href="" class="close" ng-click="hideErrorDeleteAlert()" aria-label="close">&times;</a>
                <p translate="ErrorDeleteVendor"></p>
            </div>
                <div class="row">
                <br/>
                <div class="col-xs-4">
                    <label></label>
                    <div class="input-group">
                        <input type="text" ng-model="q" class="form-control" id="search" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                    <label for="search">{{'ITEMS_PER_PAGE'|translate}}:</label>
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize" placeholder="items per page">
                </div>
            </div>
            <br/>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th> </th>
                        <th>{{'Name'|translate}} </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr dir-paginate="x in vendorsList | filter:q | itemsPerPage: pageSize" pagination-id="vendorsPagination">
                        <td><input type="radio" ng-model="idVendor" value="{{x.id}}" name="idVendor" ng-click='checkVendor(idVendor)'></td>
                        <td>{{x.nombre}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <dir-pagination-controls boundary-links="true" pagination-id="vendorsPagination"></dir-pagination-controls>
            </div>
            <div class="modal fade" id="NewVendor" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" translate="NEW_VENDOR_TITLE"></h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" name="AddVendor" ng-submit="addNewVendor()" novalidate>
                                <div class="form-group required">
                                    <label class="control-label col-sm-3" for="name" translate="NAMEVendor"></label>
                                    <div class="col-sm-8">
                                        <input type="text" name="name" class="form-control" id="name" ng-model="name" placeholder="{{'ENTER_A_NAME_VENDOR'|translate}}"  ng-trim="true" required>
                                        <p translate="ErrorNameRequired" ng-show="AddVendor.name.$dirty && AddUser.name.$error.required" class="help-block"></p>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default" translate="SAVE"></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="EditVendor" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" translate="Edit_Vendor_Title"></h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" name="EditVendor" ng-submit="editVendorProcess()" novalidate>
                                <div class="form-group required">
                                    <label class="control-label col-sm-3" for="vendorNameEdit" translate="NAME"></label>
                                    <div class="col-sm-8">
                                        <input type="text" name="vendorNameEdit" class="form-control" id="vendorNameEdit" ng-model="vendorNameEdit" placeholder="{{'ENTER_A_NAME_VENDOR'|translate}}"  ng-trim="true" required>
                                        <p translate="ErrorFirstNameRequired" ng-show="EditVendor.vendorNameEdit.$dirty && EditVendor.vendorNameEdit.$error.required" class="help-block"></p>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default" translate="SAVEUPLOAD"></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

        </div>
        </div>

        <!-- TAB CATALOG2 -->
        <div id="catalog2" class="tabcontent">
            <div class="row">
                <div class="col-xs-3">
                    <button class="btn btn-primary btn-block" translate="NEW_PLATAFORM" data-toggle="modal" data-target="#NewPlataform"></button>
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-default btn-block" translate="MODIFY" ng-disabled="activeModifyPlataformButton" ng-click="showEditModalPlataform()"></button>
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-danger btn-block" ng-click="deletePlataform($event)" ng-disabled="activeModifyPlataformButton" translate="DeletePlataform"></button>
                </div>
            </div>
            <div class="alert alert-success alert-dismissible" ng-show="showSuccessPlataformAdd">
                <a href="" class="close" ng-click="hideSuccessAddPlataformAlert()" aria-label="close">&times;</a>
                <p translate="SuccessAddingPlataform"></p>
            </div>
            <div class="alert alert-warning alert dismissible" ng-show="showErrorPlataformAdd">
                <a href="" class="close" ng-click="hideErrorAddPlataformAlert()" aria-label="close">&times;</a>
                <p translate="ErrorAddingPlataform"></p>
            </div>
            <div class="alert alert-success alert-dismissible" ng-show="showSuccessPlataformEdit">
                <a href="" class="close" ng-click="hideSuccessEditPlataformAlert()" aria-label="close">&times;</a>
                <p translate="SuccessEditPlataform"></p>
                </a>
            </div>
            <div class="alert alert-warning alert dismissible" ng-show="showErrorPlataformEdit">
                <a href="" class="close" ng-click="hideErrorEditPlataformAlert()" aria-label="close">&times;</a>
                <p translate="ErrorEditPlataform"></p>
            </div>
            <div class="alert alert-success alert-dismissible" ng-show="showSuccessPlataformDelete">
                <a href="" class="close" ng-click="hideSuccessDeletePlataformAlert()" aria-label="close">&times;</a>
                <p translate="SuccesDeletePlataform"></p>
            </div>
            <div class="alert alert-warning alert dismissible" ng-show="showErrorDeletePlataform">
                <a href="" class="close" ng-click="hideErrorDeletePlataformAlert()" aria-label="close">&times;</a>
                <p translate="ErrorDeletePlataform"></p>
            </div>
            <div class="row">
                <br/>
                <div class="col-xs-4">
                    <label></label>
                    <div class="input-group">
                        <input type="text" ng-model="p" class="form-control" id="searchPlataform" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                    <label for="search">{{'ITEMS_PER_PAGE'|translate}}:</label>
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSizeplataform" placeholder="items per page">
                </div>
            </div>
            <br/>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{{'Name'|translate}} </th>
                        <th>{{'Comments'|translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr dir-paginate="x in plataformList | filter:p | itemsPerPage: pageSizeplataform" pagination-id="plataformasPagination">
                        <td><input type="radio" ng-model="idPlataform" value="{{x.id}}" name="idPlataform" ng-click='checkPlataform(idPlataform)'></td>
                        <td>{{x.nombre}}</td>
                        <td>{{x.comentarios}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <dir-pagination-controls boundary-links="true" pagination-id="plataformasPagination"></dir-pagination-controls>
            </div>
            <div class="modal fade" id="NewPlataform" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" translate="NEW_PLATAFORM_TITLE"></h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" name="AddPlataform" ng-submit="addNewPlataform()" novalidate>
                                <div class="form-group required">
                                    <label class="control-label col-sm-3" for="namePlataform" translate="NamePlataform"></label>
                                    <div class="col-sm-8">
                                        <input type="text" name="namePlataform" class="form-control" id="namePlataform" ng-model="namePlataform" placeholder="{{'ENTER_A_NAME_PLATAFORM'|translate}}"  ng-trim="true" required>
                                        <p translate="ErrorNameRequired" ng-show="AddPlataform.namePlataform.$dirty && AddPlataform.namePlataform.$error.required" class="help-block"></p>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="control-label col-sm-3" for="commentsPlataform" translate="CommentsPlataform"></label>
                                    <div class="col-sm-8">
                                        <input type="text" name="commentsPlataform" class="form-control" id="commentsPlataform" ng-model="commentsPlataform" placeholder="{{'ENTER_A_COMMENT_PLATAFORM'|translate}}"  ng-trim="true" required>
                                        <p translate="ErrorNameRequired" ng-show="AddPlataform.commentsPlataform.$dirty && AddPlataform.commentsPlataform.$error.required" class="help-block"></p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default" translate="SAVE"></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="EditPlataform" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" translate="EDIT_PLATAFORM_TITLE"></h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" name="EditPlataform" ng-submit="editPlataformProcess()" novalidate>
                                <div class="form-group required">
                                    <label class="control-label col-sm-3" for="namePlataformEdit" translate="NamePlataform"></label>
                                    <div class="col-sm-8">
                                        <input type="text" name="namePlataformEdit" class="form-control" id="namePlataformEdit" ng-model="namePlataformEdit" placeholder="{{'ENTER_A_NAME_PLATAFORM'|translate}}"  ng-trim="true" required>
                                        <p translate="ErrorNameRequired" ng-show="EditPlataform.name.$dirty && EditPlataform.name.$error.required" class="help-block"></p>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="control-label col-sm-3" for="commentsPlataformEdit" translate="CommentsPlataform"></label>
                                    <div class="col-sm-8">
                                        <input type="text" name="commentsPlataformEdit" class="form-control" id="commentsPlataformEdit" ng-model="commentsPlataformEdit" placeholder="{{'ENTER_A_COMMENT_PLATAFORM'|translate}}"  ng-trim="true" required>
                                        <p translate="ErrorNameRequired" ng-show="EditPlataform.commentsPlataformEdit.$dirty && EditPlataform.commentsPlataformEdit.$error.required" class="help-block"></p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default" translate="SAVE"></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- TAB CATALOG3 -->
        <div id="catalog3" class="tabcontent">
            <div class="row">
                <div class="col-xs-3">
                    <button class="btn btn-primary btn-block" translate="NEW_PROFILE" data-toggle="modal" data-target="#NewProfile"></button>
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-default btn-block" translate="MODIFY" ng-disabled="activeModifyProfileBoton" ng-click="showEditModalProfile()"></button>
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-danger btn-block" ng-click="deleteProfile($event)" ng-disabled="activeModifyProfileBoton" translate="DeleteProfile"></button>
                </div>
            </div>
            <div class="alert alert-success alert-dismissible" ng-show="showSuccessProfileAdd">
                <a href="" class="close" ng-click="hideSuccessAddProfileAlert()" aria-label="close">&times;</a>
                <p translate="SuccessAddingProfile"></p>
            </div>
            <div class="alert alert-warning alert dismissible" ng-show="showErrorProfileAdd">
                <a href="" class="close" ng-click="hideErrorAddProfileAlert()" aria-label="close">&times;</a>
                <p translate="ErrorAddingProfile"></p>
            </div>
            <div class="alert alert-success alert-dismissible" ng-show="showSuccessProfileEdit">
                <a href="" class="close" ng-click="hideSuccessEditProfileAlert()" aria-label="close">&times;</a>
                <p translate="SuccessEditProfile"></p>
                </a>
            </div>
            <div class="alert alert-warning alert dismissible" ng-show="showErrorProfileEdit">
                <a href="" class="close" ng-click="hideErrorEditProfileAlert()" aria-label="close">&times;</a>
                <p translate="ErrorEditProfile"></p>
            </div>
            <div class="alert alert-success alert-dismissible" ng-show="showSuccessProfileDelete">
                <a href="" class="close" ng-click="hideSuccessDeleteProfileAlert()" aria-label="close">&times;</a>
                <p translate="SuccesDeleteProfile"></p>
            </div>
            <div class="alert alert-warning alert dismissible" ng-show="showErrorDeleteProfile">
                <a href="" class="close" ng-click="hideErrorDeleteProfileAlert()" aria-label="close">&times;</a>
                <p translate="ErrorDeleteProfile"></p>
            </div>
            <div class="row">
                <br/>
                <div class="col-xs-4">
                    <label></label>
                    <div class="input-group">
                        <input type="text" ng-model="pc" class="form-control" id="searchProfile" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                    <label for="search">{{'ITEMS_PER_PAGE'|translate}}:</label>
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSizeProfile" placeholder="items per page">
                </div>
            </div>
            <br>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th> </th>
                        <th>{{'Name'|translate}} </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr dir-paginate="x in profilesList | filter:pc | itemsPerPage: pageSizeProfile" total-items="totalprofiles" current-page="currentPage" pagination-id="profilePagination">
                        <td><input type="radio" ng-model="idProfile" value="{{x.id}}" name="idProfile" ng-click='checkProfile(idProfile)'></td>
                        <td>{{x.nombre}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <dir-pagination-controls boundary-links="true" on-page-change="pageChangedProfile(newPageNumber)" pagination-id="profilePagination"></dir-pagination-controls>
            </div>

            <div class="modal fade" id="NewProfile" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" translate="NEW_Profile_TITLE"></h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" name="AddProfile" ng-submit="addNewProfile()" novalidate>
                                <div class="form-group required">
                                    <label class="control-label col-sm-3" for="nameProfile" translate="Name"></label>
                                    <div class="col-sm-8">
                                        <input type="text" name="nameProfile" class="form-control" id="nameProfile" ng-model="nameProfile" placeholder="{{'ENTER_A_NAME_VENDOR'|translate}}"  ng-trim="true" required>
                                        <p translate="ErrorNameRequired" ng-show="AddProfile.nameProfile.$dirty && AddProfile.nameProfile.$error.required" class="help-block"></p>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default" translate="SAVE"></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="EditProfile" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" translate="Edit_Profile_Title"></h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" name="EditProfile" ng-submit="editProfileProcess()" novalidate>
                                <div class="form-group required">
                                    <label class="control-label col-sm-3" for="nameProfileEdit" translate="NAME"></label>
                                    <div class="col-sm-8">
                                        <input type="text" name="nameProfileEdit" class="form-control" id="nameProfileEdit" ng-model="nameProfileEdit" placeholder="{{'ENTER_A_NAME_VENDOR'|translate}}"  ng-trim="true" required>
                                        <p translate="ErrorNameRequired" ng-show="EditProfile.nameProfileEdit.$dirty && EditProfile.nameProfileEdit.$error.required" class="help-block"></p>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default" translate="SAVEUPLOAD"></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!-- TAB CATALOG4 -->
        <div id="catalog4" class="tabcontent">
            <div class="row">
                <div class="col-xs-3">
                    <button class="btn btn-primary btn-block" translate="NEW_DOMAIN" data-toggle="modal" data-target="#NewDomain"></button>
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-default btn-block" translate="MODIFY" ng-disabled="activeModifyDomainButton" ng-click="showEditModalDomain()"></button>
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-danger btn-block" ng-click="deleteDomain($event)" ng-disabled="activeModifyDomainButton" translate="DeleteDomain"></button>
                </div>
            </div>
            <div class="alert alert-success alert-dismissible" ng-show="showSuccessDomainAdd">
                <a href="" class="close" ng-click="hideSuccessAddDomainAlert()" aria-label="close">&times;</a>
                <p translate="SuccessAddingDomain"></p>
            </div>
            <div class="alert alert-warning alert dismissible" ng-show="showErrorDomainAdd">
                <a href="" class="close" ng-click="hideErrorAddDomainAlert()" aria-label="close">&times;</a>
                <p translate="ErrorAddingDomain"></p>
            </div>
            <div class="alert alert-success alert-dismissible" ng-show="showSuccessDomainEdit">
                <a href="" class="close" ng-click="hideSuccessEditDomainAlert()" aria-label="close">&times;</a>
                <p translate="SuccessEditDomain"></p>
                </a>
            </div>
            <div class="alert alert-warning alert dismissible" ng-show="showErrorDomainEdit">
                <a href="" class="close" ng-click="hideErrorEditDomainAlert()" aria-label="close">&times;</a>
                <p translate="ErrorEditDomain"></p>
            </div>
            <div class="alert alert-success alert-dismissible" ng-show="showSuccessDomainsDelete">
                <a href="" class="close" ng-click="hideSuccessDeleteDomainsAlert()" aria-label="close">&times;</a>
                <p translate="SuccesDeleteDomain"></p>
            </div>
            <div class="alert alert-warning alert dismissible" ng-show="showErrorDeleteDomains">
                <a href="" class="close" ng-click="hideErrorDeleteDomainsAlert()" aria-label="close">&times;</a>
                <p translate="ErrorDeleteDomain"></p>
                </div>
            <div class="row">
                <br/>
                <div class="col-xs-4">
                    <label></label>
                    <div class="input-group">
                        <input type="text" ng-model="qd" class="form-control" id="searchDomain" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                    <label for="search">{{'ITEMS_PER_PAGE'|translate}}:</label>
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSizeDomain" placeholder="items per page">
                </div>
            </div>
            <br>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th> </th>
                        <th>{{'Name'|translate}} </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr dir-paginate="x in domainsList | filter:qd | itemsPerPage: pageSizeDomain" total-items="totalDomains" current-page="currentPageDomains" pagination-id="domainPagination">
                        <td><input type="radio" ng-model="idDomain" value="{{x.id}}" name="idDomain" ng-click='checkDomains(idDomain)'></td>
                        <td>{{x.nombre}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <dir-pagination-controls boundary-links="true" on-page-change="pageChangedDomain(newPageNumber)" pagination-id="domainPagination"></dir-pagination-controls>
            </div>

            <div class="modal fade" id="NewDomain" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" translate="NEW_DOMAIN_TITLE"></h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" name="AddDomain" ng-submit="addNewDomain()" novalidate>
                                <div class="form-group required">
                                    <label class="control-label col-sm-3" for="nameDomain" translate="Name"></label>
                                    <div class="col-sm-8">
                                        <input type="text" name="nameDomain" class="form-control" id="nameDomain" ng-model="nameDomain" placeholder="{{'ENTER_A_NAME_VENDOR'|translate}}"  ng-trim="true" required>
                                        <p translate="ErrorNameRequired" ng-show="AddDomain.nameDomain.$dirty && AddDomain.nameDomain.$error.required" class="help-block"></p>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default" translate="SAVE"></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="EditDomain" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" translate="Edit_Domain_Title"></h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" name="EditDomain" ng-submit="editDomainProcess()" novalidate>
                                <div class="form-group required">
                                    <label class="control-label col-sm-3" for="nameDomainEdit" translate="NAME"></label>
                                    <div class="col-sm-8">
                                        <input type="text" name="nameDomainEdit" class="form-control" id="nameDomainEdit" ng-model="nameDomainEdit" placeholder="{{'ENTER_A_NAME_VENDOR'|translate}}"  ng-trim="true" required>
                                        <p translate="ErrorNameRequired" ng-show="EditDomain.nameDomainEdit.$dirty && EditDomain.nameDomainEdit.$error.required" class="help-block"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default" translate="SAVEUPLOAD"></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="catalog5" class="tabcontent">
            <div class="row">
                <div class="col-xs-3">
                    <button class="btn btn-primary btn-block" translate="NEW_COUNTRY" data-toggle="modal" data-target="#NewCountry"></button>
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-default btn-block" translate="MODIFY" ng-disabled="activeModifyCountryButton" ng-click="showEditModalCountry()"></button>
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-danger btn-block" ng-click="deleteCountry($event)" translate="DeleteCountry" ng-disabled="activeModifyCountryButton"></button>
                </div>
            </div>
            <div class="alert alert-success alert-dismissible" ng-show="showSuccessCountryAdd">
                <a href="" class="close" ng-click="hideSuccessAddCountryAlert()" aria-label="close">&times;</a>
                <p translate="SuccessAddingCountry"></p>
            </div>
            <div class="alert alert-warning alert dismissible" ng-show="showErrorCountryAdd">
                <a href="" class="close" ng-click="hideErrorAddCountryAlert()" aria-label="close">&times;</a>
                <p translate="ErrorAddingCountry"></p>
            </div>
            <div class="alert alert-success alert-dismissible" ng-show="showSuccessCountryEdit">
                <a href="" class="close" ng-click="hideSuccessEditCountryAlert()" aria-label="close">&times;</a>
                <p translate="SuccessEditCountry"></p>
                </a>
            </div>
            <div class="alert alert-warning alert dismissible" ng-show="showErrorCountryEdit">
                <a href="" class="close" ng-click="hideErrorEditCountryAlert()" aria-label="close">&times;</a>
                <p translate="ErrorEditCountry"></p>
            </div>
            <div class="alert alert-success alert-dismissible" ng-show="showSuccessCountryDelete">
                <a href="" class="close" ng-click="hideSuccessDeleteCountryAlert()" aria-label="close">&times;</a>
                <p translate="SuccesDeleteCountry"></p>
            </div>
            <div class="alert alert-warning alert dismissible" ng-show="showErrorDeleteCountry">
                <a href="" class="close" ng-click="hideErrorDeleteCountryAlert()" aria-label="close">&times;</a>
                <p translate="ErrorDeleteCountry"></p>
            </div>
            <div class="row">
                <br/>
                <div class="col-xs-4">
                    <label></label>
                    <div class="input-group">
                        <input type="text" ng-model="qc" class="form-control" id="searchCountry" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                    <label for="search">{{'ITEMS_PER_PAGE'|translate}}:</label>
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSizeCountry" placeholder="items per page">
                </div>
            </div>
            <br>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th> </th>
                        <th>{{'Name'|translate}} </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr dir-paginate="x in countrysList | filter:qc | itemsPerPage: pageSizeCountry" total-items="totalCountrys" current-page="currentPageCountry" pagination-id="countryPagination">
                        <td><input type="radio" ng-model="idCountry" value="{{x.id}}" name="idCountry" ng-click='checkCountry(idCountry)'></td>
                        <td>{{x.nombre}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <dir-pagination-controls boundary-links="true" on-page-change="pageChangedCountry(newPageNumber)" pagination-id="countryPagination"></dir-pagination-controls>
            </div>
            <div class="modal fade" id="NewCountry" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" translate="NEW_COUNTRY_TITLE"></h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" name="AddCountry" ng-submit="addNewCountry()" novalidate>
                                <div class="form-group required">
                                    <label class="control-label col-sm-3" for="nameCountry" translate="Name"></label>
                                    <div class="col-sm-8">
                                        <input type="text" name="nameCountry" class="form-control" id="nameCountry" ng-model="nameCountry" placeholder="{{'ENTER_A_NAME_VENDOR'|translate}}"  ng-trim="true" required>
                                        <p translate="ErrorNameRequired" ng-show="AddCountry.nameCountry.$dirty && AddCountry.nameCountry.$error.required" class="help-block"></p>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default" translate="SAVE"></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="EditCountry" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" translate="Edit_Country_Title"></h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" name="EditCountry" ng-submit="editCountryProcess()" novalidate>
                                <div class="form-group required">
                                    <label class="control-label col-sm-3" for="nameCountryEdit" translate="NAME"></label>
                                    <div class="col-sm-8">
                                        <input type="text" name="nameCountryEdit" class="form-control" id="nameCountryEdit" ng-model="nameCountryEdit" placeholder="{{'ENTER_A_NAME_VENDOR'|translate}}"  ng-trim="true" required>
                                        <p translate="ErrorNameRequired" ng-show="EditCountry.nameCountryEdit.$dirty && EditCountry.nameCountryEdit.$error.required" class="help-block"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default" translate="SAVEUPLOAD"></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="catalog6" class="tabcontent">
            <div class="row">
                <div class="col-xs-3">
                    <button class="btn btn-primary btn-block" translate="NEW_CITY" data-toggle="modal" data-target="#NewCity"></button>
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-default btn-block" translate="MODIFY" ng-disabled="activeModifyCityButton" ng-click="showEditModalCity()"></button>
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-danger btn-block" ng-click="deleteCity($event)" translate="DeleteCity" ng-disabled="activeModifyCityButton"></button>
                </div>
            </div>
            <div class="alert alert-success alert-dismissible" ng-show="showSuccessCityAdd">
                <a href="" class="close" ng-click="hideSuccessAddCityAlert()" aria-label="close">&times;</a>
                <p translate="SuccessAddingCity"></p>
            </div>
            <div class="alert alert-warning alert dismissible" ng-show="showErrorCityAdd">
                <a href="" class="close" ng-click="hideErrorAddCityAlert()" aria-label="close">&times;</a>
                <p translate="ErrorAddingCity"></p>
            </div>
            <div class="alert alert-success alert-dismissible" ng-show="showSuccessCityEdit">
                <a href="" class="close" ng-click="hideSuccessEditCityAlert()" aria-label="close">&times;</a>
                <p translate="SuccessEditCity"></p>
                </a>
            </div>
            <div class="alert alert-warning alert dismissible" ng-show="showErrorCityEdit">
                <a href="" class="close" ng-click="hideErrorEditCityAlert()" aria-label="close">&times;</a>
                <p translate="ErrorEditCity"></p>
            </div>
            <div class="alert alert-success alert-dismissible" ng-show="showSuccessCityDelete">
                <a href="" class="close" ng-click="hideSuccessDeleteCityAlert()" aria-label="close">&times;</a>
                <p translate="SuccesDeleteCity"></p>
            </div>
            <div class="alert alert-warning alert dismissible" ng-show="showErrorDeleteCity">
                <a href="" class="close" ng-click="hideErrorDeleteCityAlert()" aria-label="close">&times;</a>
                <p translate="ErrorDeleteCity"></p>
            </div>

            <div class="row">
                <br/>
                <div class="col-xs-4">
                    <label></label>
                    <div class="input-group">
                        <input type="text" ng-model="pcity" class="form-control" id="searchCity" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                    <label for="search">{{'ITEMS_PER_PAGE'|translate}}:</label>
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSizeCity" placeholder="items per page">
                </div>
            </div>
            <br/>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{{'Pais'|translate}}</th>
                        <th>{{'Name'|translate}} </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr dir-paginate="x in citysList | filter:pcity | itemsPerPage: pageSizeCity" pagination-id="citysPagination">
                        <td><input type="radio" ng-model="idCity" value="{{x.id}}" name="idCity" ng-click='checkCity(idCity)'></td>
                        <td>{{x.pais}}</td>
                        <td>{{x.nombre}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <dir-pagination-controls boundary-links="true" pagination-id="citysPagination"></dir-pagination-controls>
            </div>
            <div class="modal fade" id="NewCity" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" translate="NEW_City_TITLE"></h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" name="AddCity" ng-submit="addNewCity()" novalidate>
                                <div class="form-group required">
                                    <label class="control-label col-sm-3" for="countryCity" translate="Pais"></label>
                                    <div class="col-sm-8">
                                        <select name="countryCity" class="form-control" ng-model="countryCity" id="countryCity" required>
                                            <option ng-repeat="x in countrysList"  value="{{x.id}}">{{x.nombre}}</option>
                                        </select>
                                        <p translate="ErrorCountryRequiered" ng-show="AddCity.countryCity.$dirty && AddCity.countryCity.$error.required" class="help-block"></p>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="control-label col-sm-3" for="nameCity" translate="Name"></label>
                                    <div class="col-sm-8">
                                        <input type="text" name="nameCity" class="form-control" id="nameCity" ng-model="nameCity" placeholder="{{'ENTER_A_NAME_VENDOR'|translate}}"  ng-trim="true" required>
                                        <p translate="ErrorNameRequired" ng-show="AddCity.nameCity.$dirty && AddCity.nameCity.$error.required" class="help-block"></p>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default" translate="SAVE"></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="EditCity" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" translate="Edit_City_TITLE"></h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" name="EditCity" ng-submit="EditCityProcess()" novalidate>
                                <div class="form-group required">
                                    <label class="control-label col-sm-3" for="countryCityEdit" translate="Pais"></label>
                                    <div class="col-sm-8">
                                        <select name="countryCityEdit" class="form-control" ng-model="countryCityEdit" id="countryCityEdit" required
                                            ng-options="x.id as x.nombre for x in countrysList">
                                            <!--option ng-repeat="x in countrysList"  value="{{x.id}}">{{x.nombre}}</option-->
                                        </select>
                                        <p translate="ErrorCountryRequiered" ng-show="EditCity.countryCityEdit.$dirty && EditCity.countryCityEdit.$error.required" class="help-block"></p>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="control-label col-sm-3" for="nameCityEdit" translate="Name"></label>
                                    <div class="col-sm-8">
                                        <input type="text" name="nameCityEdit" class="form-control" id="nameCityEdit" ng-model="nameCityEdit" placeholder="{{'ENTER_A_NAME_VENDOR'|translate}}"  ng-trim="true" required>
                                        <p translate="ErrorNameRequired" ng-show="EditCity.nameCityEdit.$dirty && EditCity.nameCityEdit.$error.required" class="help-block"></p>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default" translate="SAVEUPLOAD"></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>