<!DOCTYPE HTML>
<div class="applications" ng-controller="catalogCtrl">
    <h1> {{'TITLE_CATALOGS' | translate}} </h1>
    <div>
        <ul class="nav nav-tabs">
        <li id="active"><a data-toggle="tab" href="" ng-click="showApplicationTab('catalog1')"> {{'DOMAINS' | translate}} </a></li>
        <li><a data-toggle="tab" class="tablinks" href="" ng-click="showApplicationTab('catalog2')"> {{'APPLICATIONS_PER_DOMAIN' | translate}} </a></li>
        <li><a data-toggle="tab" class="tablinks" href="" ng-click="showApplicationTab('catalog3')"> {{'APPLICATION_DETAILS_PER_DOMAIN' | translate}} </a></li>
        <li><a data-toggle="tab" class="tablinks" href="" ng-click="showApplicationTab('catalog4')"> {{'APPLICATION_CONSULT' | translate}} </a></li>
    </ul>
    </div>

    <div id="tabsApplication">

        
    </div>

</div>